body{
    background-color: rgb(138, 241, 169);
}
h1{
    color:rgb(94, 86, 77);
}

.heading{
    text-align: center;
    background-color: rgb(217, 234, 238);
}

.about_me{
   align-items: flex-end; 
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    position:relative;
}

.item:hover img{
    opacity: 1.75;
    transform: scale(1.3);
}
h2{
    text-align: center;
}